
* {
    box-sizing: border-box;
}

:root {
	--primary: #3a82ee;
	--danger: #ff5b57;
}

body {
        background: url(/todoapp/images/flour.jpg); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
}

.app {
    border-radius: 10px; 
    padding: 15px;
    overflow: scroll;
}

/* remove the scroll icons */
.app::-webkit-scrollbar {
    width: 0 !important;
}

/* Adding Task */
#addNew {
    align-content: center;
    background-color: rgba(58, 130, 238, 0.1) ;
    border-radius: 5px;
    border: 3px solid var(--primary);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-left: 350px;
    margin-top: 15px;
    padding: 5px 10px;
    width: 50vw;
   
}

#addNew::after{
    opacity: 0.70;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease-in-out;
}

.taskCreate {
    padding-left: 10px;

}

.fa-plus {
    background: var(--primary);
    padding: 3px;
    border-radius: 3px;
}

#tasks {
    display: grid;
    gap: 14px;
}

#tasks div {
    background-color: rgba(58, 130, 238, 0.7); 
    border: 3px solid var(--primary);
    padding: 5px;
    border-radius: 10px;
    display: grid;
    gap: 5px;
}

.options {
    justify-content: center;
    display: flex;
    gap: 20px;
}

.options i {
     cursor:pointer;
}

/* Pop up message for invalid input */
#msg {
    color: var(--danger);
}

.checked {
    text-decoration: line-through;
}

@media screen and (max-width: 800px){
    #addNew {
        margin-left: 171px;
    }
}



